@use 'variables' as *;

// --- Footer ---
.sitemap {
  background-color: #999;
  padding: 40px 0;

  &-inner {
    max-width: $max-width;
    margin: 0 auto;
  }

  &-layout {
    display: flex;
  }

  &__block {
    width: 20%;
    padding-left: 40px;

    h5 {
      font-size: 16px;
      line-height: 30px;
      color: #666;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 30px;
        color: #666;
      }
    }
  }
}

.site-footer {
  background: $dark;
  color: rgba(255, 255, 255, .7);
  padding: 20px 0;

  .logo {
    color: $white;
    font-size: 18px;
    text-align: center;
    span{
      font-weight: 300;
    }
    img{
      display: inline;
    }
  }

  .footer {
    max-width: $max-width;
    margin: 0 auto;

    &__info {
      font-size: 13px;
      line-height: 1.8;
      font-style: normal;
      text-align: center;
      margin-top: 20px;

      strong {
        color: $white;
        font-weight: 600;
      }
    }

    &__copy {
      border-top: 1px solid rgba(255, 255, 255, .1);
      text-align: center;
      padding: 8px $padding-x;
      margin-top: 20px;
      font-size: 12px;
      color: rgba(255, 255, 255, .4);
    }
  }
}